**/.vscode
**/.idea/

archive/
components/
dist
node_modules/
snippets/
.vite/

*.local
*.pdf
.DS_Store
.npmrc
.remote-assets
.vite-inspect
README.md
components.d.ts
netlify.toml
pages/imported-slides.md
public/*.pdf
public/index.html
slides.md
vercel.json
~*
